<% if !signed_in? %>
  <div class="hero-unit homepage-hero-unit">
    <center>
    <!-- <h1>Welcome to PayWithMe!</h1> -->
    <h3>The ultimate redefinition of social payments.</h3>
    <%= image_tag "placeholder.gif", class: "homepage-video" %>
    <p>
        Keep track of who owes you money and who isn't paying back. 
        Build a <strong>Social Credit Score</strong> and get <strong>perks</strong>.
    </p>
    <p>
      <%= link_to "Register or Login With Facebook", "/users/auth/facebook", class: "btn btn-primary btn-large" %>
      <%= link_to "Register or Login With Twitter", "/users/auth/twitter", class: "btn btn-primary btn-large" %>
      <%= link_to "Register or Login With Email Address", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
    </center>
  </div>
<% else %>
  <div class="hero-unit">
    <center>
      <h1>Welcome to PayWithMe!</h1>
      <p>Logged in homepage is currently blank.</p>
    </center>
  </div>
<% end %>