<div class="hero-unit">
	<h1>Welcome to PayWithMe!</h1>
	<p>PayWithMe is redefining the social payments scene.</p>
	<p>
		<%= link_to "Login With Facebook", "#", class: "btn btn-primary btn-large" %>
		<%= link_to "Login With Twitter", "#", class: "btn btn-primary btn-large" %>
		<%= link_to "Login With Email Address", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>