<tr>
  <td colspan="2">
    <p>Hi <%= (@user.first_name.empty?)? "there" : @user.first_name %>,</p>

    <p>You've been added to <%= @group.title %>. You will be invited to all <%= @group.title %> events in the future.</p>

    <p><%= link_to image_tag(attachments['visit_group.png'].url, alt: "Visit #{@group.title}"), group_url(@group, guest_params(@user)) %></p>
  </td>
</tr>