<tr>
  <td colspan="2">
    <p>Hi <%= (@user.first_name.empty?)? "there" : @user.first_name %>,</p>

    <p>Thanks for paying for the event. Attached is your ticket, please print it out and hand it to the organizer when you arrive.</p>

    <p>
    	<%= link_to image_tag(asset_path('visit_event.png'), alt: "Visit #{@event.title}"), event_path(@event) %>
	  </p>
	<small>(<%= link_to 'Click here if the above link doesn\'t work', event_path(@event) %>)</small>
    <p></p>
  </td>
</tr>