<% provide(:title, "Affiliates | Administrator Panel") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span8">
        <h2>Administrator Panel: Affiliates</h2>
      </div>
      <div class="span2">
        <%= link_to "Add New Affiliate", new_affiliate_path, class: "btn btn-primary btn-block push-top-title" %>
      </div>
      <div class="span2">
        <%= link_to "Return to home", admin_index_path, class: "btn btn-primary btn-block push-top-title" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h4>More detailed information, like how much you owe the affiliate, can be found by clicking on the affiliate</h4>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <tr>
          <th><a rel="tooltip" title="Click name to view details">Name</a></th>
          <th>Affiliate Type</th>
          <th>School (if campus rep)</th>
          <th>Referrals</th>
          <th><a rel="tooltip" title="Only electronic payments">Referred Payments</a></th>
          <th><a rel="tooltip" title="Only electronic payments">Value Payments</a></th>
          <th>Created</th>
          <th>Delete</th>
        </tr>
        <%= render collection: @affiliates, partial: "affiliates/admin_affiliate", as: :affiliate %>
      </table>

      <%= will_paginate @affiliates %>
    </div>
  </div>
</div>