<% provide(:title, "Campus Reps | Administrator Panel") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span8">
        <h2>Administrator Panel: Campus Reps</h2>
      </div>
      <div class="span2">
        <%= link_to "Add New Campus Rep", new_campus_rep_path, class: "btn btn-primary btn-block push-top-title" %>
      </div>
      <div class="span2">
        <%= link_to "Return to home", admin_index_path, class: "btn btn-primary btn-block push-top-title" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <tr>
          <th><a rel="tooltip" title="Click name to edit">Name<a></th>
          <th>School</th>
          <th>Referrals</th>
          <th>Created</th>
        </tr>
        <%= render collection: @campus_reps, partial: "campus_reps/admin_campus_rep", as: :campus_rep %>
      </table>

      <%= will_paginate @campus_reps %>
    </div>
  </div>
</div>