<% provide(:title, "Events | Administrator Panel") %>
<div class="row">
  <div class="span8">
    <h2>Administrator Panel: Events</h2>
  </div>
  <div class="span4">
    <%= link_to "Return to Administration Panel", admin_index_path, class: "btn btn-primary pull-right push-top-title" %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Title</th>
        <th>Organizer</th>
        <th>Members</th>
        <th>Created</th>
        <th><span rel="tooltip" title="Division Type">DT</span></th>
        <th><span rel="tooltip" title="Privacy Type">PT</span></th>
        <th><span rel="tooltip" title="Payment Methods">PM</span></th>
        <th><span rel="tooltip" title="Amount Per Person">APP</span></th>
      </tr>
      <%= render collection: @events, partial: "events/admin_event", as: :event, locals: { full: true } %>
    </table>

    <%= will_paginate @events %>
  </div>
</div>