<% provide(:title, "Organizations | Administrator Panel") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <h2>Administrator Panel: Organizations</h2>
      </div>
      <div class="span3">
        <%= link_to "Return to home", admin_index_path, class: "btn btn-primary btn-block push-top-title" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <tr>
          <th>Organization Name</th>
          <th>Name</th>
          <th>per_person?</th>
          <th>Deals?</th>
          <th>Email</th>
          <th>Comments</th>
        </tr>
        <%= render collection: @organizations, partial: "organizations/admin_organization", as: :organization, locals: { full: true } %>
      </table>

      <%= will_paginate @organizations %>
    </div>
  </div>
</div>