<% provide(:title, "Restaurant Contacts | Administrator Panel") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <h2>Administrator Panel: Restaurant Contacts</h2>
      </div>
      <div class="span3">
        <%= link_to "Return to home", admin_index_path, class: "btn btn-primary btn-block push-top-title" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <tr>
          <th>Restaurant Name</th>
          <th>Name</th>
          <th>Split?</th>
          <th>Deals?</th>
          <th>Email</th>
          <th>Comments</th>
        </tr>
        <%= render collection: @restaurant_contacts, partial: "restaurant_contacts/admin_restaurant_contact", as: :restaurant_contact, locals: { full: true } %>
      </table>

      <%= will_paginate @restaurant_contacts %>
    </div>
  </div>
</div>