$('.tooltip').remove();
$('.overlay').remove();

// Shake profile picture
var rumbleTimeout;
$profilePicture = $('.image-user-<%= @event_user.user_id %>');
$profilePicture.jrumble();
clearTimeout(rumbleTimeout);
$profilePicture.trigger('startRumble');
$profilePicture.attr('data-trigger', 'manual');
$profilePicture.attr('data-original-title', "Nudge sent to <%= user_name(@event_user.user) %>!");
rumbleTimeout = setTimeout(function()
{
  $profilePicture.trigger('stopRumble');
  $profilePicture.off();
  $profilePicture.tooltip('show');
  setTimeout(function()
  {
    $profilePicture.tooltip('destroy');
  }, 2500);
}, 1000)


$('.link-user-<%= @event_user.user_id %>').html('<a class="btn btn-primary disabled">Nudged</a>');
$profilePicture.removeClass('nudge');
$profilePicture.unbind('mouseenter');

$('.nudges-remaining').html('<%= @nudger_event_user.nudges_remaining %>');

<% if @nudger_event_user.nudges_remaining == 0 %>
	$('.btn-nudge').remove();
<% end %>