<% provide(:title, 'Your Notifications') %>
<%= javascript_include_tag 'endless_page' %>

<div class="page-heading">
    <h2>Your Notifications</h2>
</div>


<ul id="all-notifications">
    <%= render @notifications %> 
</ul>

<%= will_paginate %>