<% provide(:title, 'Your Payments') %>

<div class = "page-heading">
    <h2>Your Notifications</h2>
</div>

<ul id = "all-notifications">
    <% current_user.notifications.each do |notification| %>
      <li <%= 'class="unread"'.html_safe unless notification.read? %>><a href="<%= notification.url %>"><%= notification.body %></a></li>
    <% end %>
</ul>