<% provide(:title, 'Your Notifications') %>

<div class="page-header">
    <h2>Your Notifications</h2>
</div>


<ul id="all-notifications">
    <%= render @notifications %> 
</ul>

<%= will_paginate %>
