<% provide(:title, 'Your Notifications') %>
<%= javascript_include_tag 'endless_page' %>

<div class="row">
  <div class="span12 page-body">
    <div class="page-header">
        <h2>Your Notifications</h2>
    </div>

    <div class="page-content">
      <ul id="all-notifications">
          <%= render @notifications %> 
      </ul>
      <%= will_paginate %>
    </div>

  </div>
</div>