<% provide(:title, "Your Notifications") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="page-header">
          <h2>Your Notifications</h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row push-bottom">
    <div class="span12">
      <ul class="styled-vertical-list">
        <%= render @notifications %>
      </ul>
      <%= will_paginate %>
    </div>
  </div>
</div>