<div class="member member_with_email" data-id="{{id}}">
  <div class="info">
    <div class="email">{{title}}</div>
  </div>
  <div class="delete"><i class="icon-trash"></i></div>
  <div class="clearfix"></div>
</div>