<% provide(:title, "Your Groups") %>
<div class="row">
  <div class="span9">
    <div class="page-header">
      <h2>Your Groups</h2>
    </div>
  </div>
  <div class="span3">
    <% if !current_user.stub? %>
      <%= link_to "Create group", new_group_path, class: "btn btn-primary push-top pull-right" %>
    <% end %>
  </div>
</div>
<% if @groups.empty? %>
  You are not in any groups!
<% else %>
  <div class="row">
    <%= render @groups %>
  </div>
<% end %>