<div class="span4 js-catch-parent js-block">
  <div class="well dashboard-user dashboard-unpaid-user">
    <div class="profile-image image-user-<%= user.id %>">
      <%= profile_image_tag user, :thumb %> 
    </div>
    <div class="user">
      <%= link_to user_name(user), user %>
      <% if user.online? %>
        <div class="user-online" rel="tooltip" title="This user is online" data-placement="top"></div>
      <% end %>
    </div>
    <% # if !itemized
    %>
      <%= #render "users/dashboard_user_form", event: @event, user: user, event_user: event_user 
      %>
    <% # end
    %>
  </div>
</div>