<tr>
  <td><%= user.name || user.email %></td>
  <td id="user-status-<%= user.id %>">
    <% if @event.paid?(user) %>
      <%= distance_of_time_in_words_to_now @event.paid_at(user) %> ago
    <% else %>
      <span class="unpaid">Unpaid</span>
    <% end %>
  </td>
  <td>
    <% if @event.event_user(user).visited_event? %>
      Yes
    <% else %>
      No
    <% end %>
  <td class="payment-links">
    <%= render partial: "users/mark_payment_links", locals: { event: @event, user: user } %>
  </td>
</tr>
