<li class="member member-<%= user.id %>">
  <div class="profile-image image-user-<%= user.id %>" data-placement="right">
    <%= profile_image_tag user, :thumb %> 
  </div>
  <div class="user">
    <%= link_to user_name(user), user %>
    <% if user.online? %>
      <div class="user-online" rel="tooltip" title="This user is online" data-placement="top"></div>
    <% end %>
  </div>
  <div class="clearfix"></div>
</li>