<li class="member">
  <div class="profile_image">
    <%= profile_image_tag user, :thumb %> 
  </div>
  <div class="body">
    <div class="user">
        <% name = user.name || user.email %>
        <%= link_to name, user %>
    </div>
    <div class="status">
      <% if @event.present? %>
        <% if user == @event.organizer %>
        Event Organizer
        <% elsif user.paid_date.present? %>
          Paid
        <% else %>
          Unpaid
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
</li>