<li class="member">
  <div class="profile_image">
    <%= profile_image_tag user, :thumb %> 
  </div>
  <div class="body">
    <div class="user">
        <%= link_to user_name(user), user %>
        <% if user.online? && @event.present? %>
            <div class="user-online"></div>
        <% end %>
    </div>
    <div class="status">
      <% if @event.present? %>
        <% if user == @event.organizer %>
        Event Organizer
        <% elsif user.paid_date.present? %>
          Paid
        <% else %>
          Unpaid
        <% end %>
      <% elsif @group.present? %>
        <% if user.admin? %>
          Group Organizer
        <% else %>
          Member
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
</li>