<% provide(:title, "Search Results For #{@query}") %>
<%= javascript_include_tag 'endless_page' %>

<div class="row">
  <div class="span12">
    <div class="well">
      <% if @users and @users.count > 0 %>
        <ul class="users">
          <%= render @users %>
        </ul>

        <%= will_paginate %>
      <% else %>
        No users found, please try another search term.
      <% end %>
    </div>
  </div>
</div>