<% provide(:title, @user.name) %>
<div class="row">
    <div class="span3">
        <%= profile_image_tag @user, :medium %> 
    </div>
    <div class="user-header span6">
        <h2><%= @user.name %></h2>
    </div>
    <% unless @user == current_user %>
        <div class="invite-to-event-button span3">
            <a href="#" class="invite-to-events btn btn-block btn-primary">Invite To Events</a>
            <ul class="events-to-invite">
                <% unless @your_organized_events.empty? %>
                    <%= render partial: 'events/invite_events', collection: @your_organized_events, as: :event %>
                <% else %>
                    <li>You don't have any events!</li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>
<div class="row">
    <div class="span12">
        <% if @user == current_user %>
            <h3>Your Events</h3>
        <% else %>
            <h3>Public and Shared Events</h3>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="event-list span12">
        <%= render @public_and_shared_events %>
    </div>
</div>