<% provide(:title, @user.name) %>
<div class="row">
    <div class="span3">
        <%= profile_image_tag @user, :medium %> 
    </div>
    <div class="user-header span6">
        <h2><%= @user.name %></h2>
    </div>
    <div class="invite-to-event-button span3">
        <a href="#" class="btn btn-primary">Invite To Event</a>
    </div>
</div>
<div class="row">
    <div class="span9">
        <h3>Public and Shared Events</h3>
        <%= render @user.member_events %>
    </div>
    <div class="span3">
        Form goes here
    </div>
</div>