<footer class="footer">
  <small>
    <ul class="inline unstyled">
  	  <p>
  	  	&copy; PayWithMe 2012 | 
  	  	<%= link_to "Our Team", team_path, class: "footer-link" %> | 
  	  	<%= link_to "Contact Us", new_contact_form_path, class: "footer-link" %>
  	  </p>
    </ul>
  </small>
  <div class="clearfix"></div>
</footer>