<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logo_real.png", alt: "Pay With Me"), root_path, id: "logo" %>
      <% if current_user %>
        <%= render 'shared/nav_search' %>
      <% end %>
      <ul class="nav pull-right">
        <% if current_user %>
          <%= render 'shared/nav_user' %>
        <% else %>
          <%= render 'shared/nav_login' %>
        <% end %>
      </ul>
    </div>
  </div>
</div>