<div id="mobile-sidebar">
  <ul class="nav">
    <li><%= link_to image_tag(profile_image_path(current_user, :thumb), width: 32) + user_name_with_spacing(current_user), user_path(current_user), class: current_page_link(user_path(current_user)) %></li>
    <li><%= link_to "Notifications (#{current_user.unread_notifications.count})", notifications_path %></li>
    <% if current_user.wepay_account.present? %>
      <li>
        <%= link_to "My Account (#{humanized_money_with_symbol(current_user.wepay_account.balance)})", linked_account_path(current_user.wepay_account) %>
      </li>
    <% end %>
    <li><%= link_to "Create Event", new_event_path, class: current_page_link(new_event_path) %></li>
    <li><%= link_to "My Events", events_path, class: current_page_link(events_path) %></li>
    <li><%= link_to "My Groups", groups_path, class: current_page_link(groups_path) %></li>
    <li><%= link_to "Account Settings", edit_user_registration_path, class: current_page_link(edit_user_registration_path) %></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
  </ul>
</div>
<div id="mobile-sidebar-helper">
</div>