<div class="half">
  <div class="push-right">
    <%= render partial: "events/event_body", locals: { event: event } %>
  </div>
</div>
<% if event_counter.odd? %>
  <div class="clearfix"></div>
<% end %>