<div class="half">
  <div class="push-right">
    <%= render partial: "events/event_body", locals: { event: event } %>
  </div>
</div>
<% if defined? event_counter %>
  <% if event_counter.odd? %>
    <div class="clearfix"></div>
  <% end %>
<% end %>