<div class="well sidebar <% if current_user == event.organizer %>organized-event<% end %>">
  <div class="organized">
  <% if event.public? %>
    <a href="#" rel="tooltip" title="Public event" data-placement="left"><i class="icon-globe"></i></a>
  <% else %>
    <a href="#" rel="tooltip" title="Private event" data-placement="left"><i class="icon-lock"></i></a>
  <% end %> 
  <% if current_user == event.organizer %>
      <a href="#" rel="tooltip" title="You organize this event!" data-placement="left"><i class="icon-wrench"></i></a>
  <% end %>
  </div>
  <div class="event-sidebar">
    <%= event_image_tag event, :medium %>
  </div>
  <div class="event-info">
    <h4 style="margin-top: 0;">
      <%= link_to truncate(event.title, :length => 25, :separator => ' '), event %>
    </h4>
    <%= event.members.count %> member<% event.members.count > 1 ? "s" : "" %><br />
    <% if event.start_at < Time.now %>
      Started
    <% else %>
      Starts
    <% end %> at <%= event.start_at %>
  </div>
</div>