<div class="well <% if current_user == event.organizer %>organized-event<% end %>">
  <% if current_user == event.organizer %>
    <div class="organized"><i class="icon-wrench"></i></div>
  <% end %>
  <h4 style="margin-top: 0;">
    <%= link_to truncate(event.title, :length => 27, :separator => ' '), event %>
    <% if event.public? %>
      <i class="icon-globe"></i>
    <% else %>
      <i class="icon-lock"></i>
    <% end %>
  </h4>
  <%= event.members.count %> members<br />
  <% if event.start_at < Time.now %>
    Started
  <% else %>
    Starts
  <% end %> at <%= event.start_at %>
</div>