<% provide(:title, "Your Events") %>
<div class="row">
  <div class="span9">
    <div class="page-header">
      <h2>Upcoming Events</h2>
    </div>
  </div>
  <div class="span3">
    <% unless current_user.stub? %>
      <%= link_to "Create event", new_event_path, class: "btn btn-primary push-top pull-right" %>
    <% end %>
  </div>
</div>
<div class="row">
  <% if @upcoming_events.empty? %>
    <div class="span12">
        You currently don't have any upcoming events!
    </div>
  <% else %>
    <%= render @upcoming_events %>
  <% end %>
</div>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h2>Past Events</h2>
    </div>
  </div>
</div>
<div class="row">
  <% if @past_events.empty? %>
    <div class="span12">
        You have not attended any events!
    </div>
  <% else %>
    <%= render @past_events, locals: { past_event: true } %>
  <% end %>
</div>