<% provide(:title, "New Event") %>
<div class="container">
  <div class="page-header">
    <h2>New Event</h2>
  </div>
  <%= form_for @event, html: { multipart: true } do |f| %>
    <% render "forms", f: f %>
  <% end %>
</div>