<div class="row">
  <div class="span12 page-body">
    <div class="page-header">
      <h2>New Event</h2>
    </div>
    <%= form_for @event, html: { class: 'form-horizontal' } do |f| %>
      <div class="row">
        <div class="span12">
          <%= f.text_field :title, placeholder: "Event Title", class: "event-title span12" %>
        </div>
      </div>
      <div class="row push-top">
        <div class="span6">
          <%= f.text_area :description, placeholder: "Event Description", class: "span6", rows: 5 %>
        </div>
        <div class="span6">
          asdfads
        </div>
      </div>
    <% end %>
  </div>
</div>