<div class="row">
    <div class="span12">
        <div class="event-title">
            <h1><%= @event.title %></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="span4">
        <div class="event-description">
            <%= @event.description %>
            <%= @event.due_on %>
        </div>
            Members here
    </div>
    <div class="span8">
        Chat here
    </div>
</div>