<div class="span7" id="home-cta">
  <h2>Start collecting now with PayWithMe for FREE.</h2>
  <em>PayWithMe is the ONLY payment platform that helps <strong>ensure organizer repayment</strong>.</em><br />

  <h2>PayWithMe makes collecting money SIMPLE.</h2>
  <em>Create an event, enter the amount, and the money will start pouring in. You'll get your money sooner so you'll have extra time for more important things.</em><br />
  <%= link_to "Start Collecting for <strong>FREE</strong>".html_safe, new_user_registration_path, class: "btn btn-primary btn-large btn-cta" %>
  <!--
  <h2>Set up promotional events.</h2>
  <em>Attract more people to your business using our Deals via Virality and Split the Bill features.</em><br />
  <%= link_to "Find Out More", new_organization_path, class: "btn btn-primary btn-large btn-cta" %>
  -->
</div>
<div class="span5 static-width">
  <iframe width="350" height="250" src="http://www.youtube.com/embed/-9u8b1jxK8c?rel=0" allowfullscreen class="img-polaroid"></iframe>
</div>