<center>
	<h1 id="home-page-title">Welcome to PayWithMe</h1>
	<h3 id="home-page-desc">Facilitating group payments for all your events!</h3>
</center>

<center>
	<div class="temp-box">
		<center>500x300</center>
	</div>
</center>

<div class="container">
	<h3 class="center">Sign up via</h3>
	<div class="center span12 home-page-span">
		<button class="btn btn-primary btn-large">Facebook</button>
		<button class="btn btn-primary btn-large">Twitter</button>
		<button class="btn btn-primary btn-large">Email</button>
	</div>
</div>