<div class="row">
  <div class="span12">
    <center><%= image_tag "poster_logo.png", id: "home-page-logo"%></center>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="temp-box">
      <iframe width="420" height="315" src="http://www.youtube.com/embed/FefL5KKIB4k?rel=0" frameborder="1" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="home-page-sign-up">
      <h3>Sign up via</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-primary btn-large push-bottom" %>
  </div>
  <div class="span4">
    <%= link_to "Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-block btn-primary btn-large push-bottom" %>
  </div>
  <div class="span4">
    <%= link_to "Email", new_user_registration_path, class: "btn btn-block btn-primary btn-large" %>
  </div>
</div>
