<div class="span7" id="home-cta">
  <h2>What is PayWithMe?</h2>
  <em>The ONLY payment platform that helps ensure organizer repayment.</em><br />

  <a href="#home-modal" role="button" class="btn btn-primary btn-cta btn-large" data-toggle="modal">How?</a>

  <div id="home-modal" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
      <a class="close" href="#" data-dismiss="modal">&times;</a>
      <h2>How does PayWithMe help me?</h2>
    </div>
    <div class="modal-body">
      <p>
        <b>Reminders:</b> Easily send updates and reminders to all members, unpaid members, or paid members as you wish.
      </p>
      <p>
        <b>Group Chat:</b> Communicate with group members, let them communicate with each other – this ensures that everyone’s questions are answered, and everyone is in the know.
      </p>
      <p>
        <b>Payment Transparency:</b> Everyone in the group event is able to see who has and hasn’t made their payments. This holds those slackers accountable to everyone else! EVERYONE knows the status of the group payment, and EVERYONE knows who is holding up the group.
      </p>
      <p>
        <b>Nudging:</b> Directly after making a payment, the payer is prompted with a nudge page. This page shows a list of all the slackers (the unpaid members). The payer can now click on these slackers names and send a nudge – a message telling them to hurry the #@$!! up and make their payment! By getting all group members involved in the collection process, the organizer has less work to do, and less to worry about!
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Close</button>
    </div>
  </div>

  <h2>PayWithMe makes collecting money simple.</h2>
  <em>Create an event, enter the amount, and the money will start pouring in. You'll get your money sooner so you'll have extra time for more important things. <strong>Start collecting now for FREE:</strong></em><br />
  <%= link_to "<span></span>Sign Up With Facebook".html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-cta-small btn-facebook" %>
  <%= link_to "<span></span>Sign Up With Twitter".html_safe, user_omniauth_authorize_path(:twitter), class: "btn btn-primary btn-cta-small btn-twitter" %>
  <%= link_to "Normal Registration", new_user_registration_path, class: "btn btn-primary btn-cta-small" %>
  <!--
  <h2>Set up promotional events.</h2>
  <em>Attract more people to your business using our Deals via Virality and Split the Bill features.</em><br />
  <%= link_to "Find Out More", new_organization_path, class: "btn btn-primary btn-cta" %>
  -->
</div>
<div class="span5 static-width">
  <iframe width="350" height="250" src="http://www.youtube.com/embed/-9u8b1jxK8c?rel=0" allowfullscreen class="img-polaroid"></iframe>
</div>