<div class="span4 <%= left ? "left" : "" %>">
	<div class="well">
		<center>
			<%= image_tag picture, :mouseover => rollover %>
			<h4 class="name"><%= name %></h4>
			<p class="desc"><%= description %></p>
		</center>
	</div>
</div>