<div class="span4">
  <div class="well team-member">
    <h4><%= name %></h4>
	  <div class="content">
	  	<% if rollover %>
		    <%= image_tag picture, :mouseover => rollover %>
		  <% else %>
		    <%= image_tag picture %>
		  <% end %>
	    <p><%= description %></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>