<%= provide(:title, "Frequently Asked Questions") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">

      <div class="well">
        <h3>What is PayWithMe?</h3>
        <p>PayWithMe is a group payment platform designed to help you collect money from groups of people. We know that it is difficult AND annoying to track people down for money, so we make that process easier. Our social accountability tools help encourage group members to both make their payments, and to encourage others to make their payments.</p>
        <p>Everyone knows people who wait until the last minute to make their payments – fantasy football friends, fraternity brothers, etc – making collecting money from your group a pain in the A$$. Use Paywithme, the easiest and most helpful way to collect money from groups.</p>
        <h3>What is our Goal?</h3>
        <p>Our goal is simple: to provide the best way for organizers to collect payments. We believe that group payments is a social problem, not a technical problem. Therefore, our focus is on creating insurance tools that help the organizer get paid back by his group members. We utilize social pressure and leverage group dynamics to take some of the stress off of the organizer.</p>
        <h3>What is our Story?</h3>
        <p>Currently, we are all students at Rensselaer Polytechnic Institute – hanging out in good ol’ Troy, NY. We began our mission at the Tech Valley Startup Weekend where we were awarded first place for our P2P Payment concept. From there, we spent months pivoting, building a team, and developing a sound group payment product. We are excited for the next step, and are ready to do great things.</p>
      </div>

    </div>
  </div>
</div>
