<div class="contact row">
	<div class="span6 offset3 well">
		<h2 class="center">Contact Us</h2>
		<p>
			Like what you see? Find something that doesn't work? Need someone 
			to listen to your rant about how your roommate never cleans up after themself? Shoot us a line!
		</p>
	</div>
</div>