<% provide(:title, "Contact Us") %>
<div class="page-header">
	<h2>Contact Us</h2>
</div>
<div class="row">	
	<div class="span4">
		<h3>Have a Question?</h3>
		<div class="well">
			<p>
				Like what you see? Find something that doesn't work? Need someone 
				to listen to your rant about how your roommate never cleans up after 
				themself? We would be happy to hear it!
			</p>
			<p>
				For security and legal reasons we will need a little information from
				you. We will not sell or do anything sketchy with your email; it is only
				there if we need to contact you back about a pressing matter.
			</p>
		</div>
	</div>
	<div class="span8">
		<h3>Drop Us a Line</h3>
		<div class="well">
			<p>penis</p>
		</div>
	</div>
</div>
<div class="row">
</div>