<% provide(:title, "Contact Us") %>
<div class="page-header">
	<h2>Contact Us</h2>
</div>
<div class="row">
	<div class="span12">
		<h3>Drop us a line</h3>
		<div class="well">
			<p>
				Like what you see? Find something that doesn't work? Need someone 
				to listen to your rant about how your roommate never cleans up after 
				themself? We would be happy to hear it!
			</p>
		</div>
	</div>
</div>
<div class="row">
</div>