<%= provide(:title, "Frequently Asked Questions") %>
<div class="row">
	<h2>Frequently Asked Questions</h2>
	<div class="span12">
		<h3>Does PayWithMe charge me for using their service?</h3>
		<div class="well">
			Unfortunately yes, PayWithMe adds a minimal charge to each transaction. Fees are based on the facilitator, PayPal (2.9% + $0.30) and Dwolla ($0.25) have their usual fees but the Organizer will never be charged. PayWithMe adds a $0.50 fee to keep our noses above the water.
		</div>
	</div>
</div>