<%= provide(:title, "Frequently Asked Questions") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h3>Is PayWithMe free to use?</h3>
      <div class="well">
        Yes! You can create an event, invite members and start collecting money at no charge. Those who you are collecting from, however, are subject to small fees if they use an online payment processor.
      </div>

      <h3>What are the small fees?</h3>
      <div class="well">
        Fees are based on the payment processor used by the organizer. Both PayPal and WePay charge 2.9% + $0.30 on top of every transaction. Dwolla adds a $0.25 fee on top of every transaction greater than $10.
      </div>

      <h3>Does PayWithMe charge a small fee as well?</h3>
      <div class="well">
        PayWithMe adds a minimal charge to each transaction but does not charge the organizer. PayWithMe adds no fee on transactions under $10, a $0.50 fee under $30, a $1 fee under $50, and a $2 fee over $50 to keep our noses above the water.
      </div>

      <h3>How do I change my timezone for events?</h3>
      <div class="well">
        Timezone settings can be found in your account settings. Eastern Time (US & Canada) is assumed as the default.
      </div>

      <h3>How can I opt out of PayWithMe's awesome service?</h3>
      <div class="well">
        You can remove your information from our database with a simple email to <a href="mailto:support@paywith.me">support@paywith.me</a> or via our <%= link_to "Contact Page", new_contact_form_path %>. Please allow us a day to process your request.
      </div>

      <h3>How can I join the PayWithMe team?</h3>
      <div class="well">
        We are looking for college campus representatives! If you are interested shoot us an email at <a href="mailto:support@paywith.me">support@paywith.me</a>.
      </div>
    </div>
  </div>
</div>