<%= provide(:title, "Frequently Asked Questions") %>
<div class="row">
	<h2>Frequently Asked Questions</h2>
	<div class="span12">
		<h3>Is PayWithMe free to use?</h3>
		<div class="well">
			Yes! You can create an event, invite members and start collecting money at no charge. Those who you are collecting from, however, are subject to small fees.
		</div>

		<h3>What are the small fees?</h3>
		<div class="well">
			PayWithMe adds a minimal charge to each transaction but does not charge the organizer. Fees are based on the payment facilitator. PayPal (2.9% + $0.30), WePay (2.9% + $0.30), and Dwolla ($0.25 on anything over $10) PayWithMe adds no fee on transactions under $10, a $0.50 fee under $30, a $1 fee under $50, and a $2 fee over $50 to keep our noses above the water.
		</div>

		<h3>How do I change my timezone for events?</h3>
		<div class="well">
			Timezone settings can be found in your account settings. Eastern Time (US & Canada) is assumed as the default.
		</div>

		<h3>How can I opt out of your awesome service?</h3>
		<div class="well">
			You can remove your information from our database with a simple email to contact@paywith.me or via our <%= link_to "Contact Page", contact_forms_path %>. Please allow us a day to process your request.
		</div>

		<h3>How can I join the PayWithMe team?</h3>
		<div class="well">
			We are looking for college campus representatives! If you are interested shoot us an email as contact@paywith.me.
		</div>
	</div>
</div>