<%= provide(:title, "Frequently Asked Questions") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h3>Is PayWithMe free to use?</h3>
      <div class="well">
        Yes! You can create an event, invite members and start collecting money at no charge. Those who you are collecting from, however, are subject to small fees if they use an online payment processor.
      </div>

      <h3>Payment Processors?</h3>
      <div class="well">
        Payment processors are services such as PayPal, Dwolla and WePay. Fees for events are based on the payment processor used by the organizer.
      </div>

      <h3>How does PayWithMe make money?</h3>
      <div class="well">
        PayWithMe adds a minimal charge to each transaction but does not charge the organizer. PayWithMe adds a 4.0% + $0.80 fee to transactions that use PayPal and WePay while adding $0.50 to transactions over Dwolla. These are based entirely on the individual payment processor.
      </div>

      <h3>How do I change my timezone for events?</h3>
      <div class="well">
        Timezone settings can be found in your account settings. Eastern Time (US &amp; Canada) is assumed as the default.
      </div>

      <h3>How can I opt out of PayWithMe's awesome service?</h3>
      <div class="well">
        You can remove your information from our database with a simple email to <a href="mailto:support@paywith.me">support@paywith.me</a> or via our <%= link_to "Contact Page", new_contact_form_path %>. Please allow us a day to process your request.
      </div>

      <h3>How can I join the PayWithMe team?</h3>
      <div class="well">
        We are looking for college campus representatives! If you are interested check out our <%= link_to "jobs page", jobs_path %>.
      </div>

      <h3>I was sent a ticket. What is it, and what do I do with it?</h3>
      <div class="well">
        If the event organizer chooses the 'Send Tickets' option every user will be automatically emailed a custom ticket when they pay for the event. Each ticket has a custom QR code with specific information useful to the organizer. Expect the organizer to scan your ticket at the door to make sure you paid for the event.
      </div>
    </div>
  </div>
</div>
