<%= provide(:title, "Frequently Asked Questions") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h3>What is PayWithMe?</h3>
      <div class="well">
        PayWithMe is a tool used by group &amp; event organizers to collect money from group members. PayWithMe provides services to its users to help ensure that group members make their payments. We all know that tracking down payments is a pain in the a$$, we help lessen that burden.
      </div>

      <h3>Do all members need a PayWithMe Account?</h3>
      <div class="well">
        No, only the event organizer needs an account – all invited members can use the service as a guest. However, connecting with your Facebook and Twitter accounts is extremely easy, and makes the service better!
      </div>

      <h3>How do guests pay for events?</h3>
      <div class="well">
        They can pay using credit cards, debit cards or cash.
      </div>

      <h3>Where does the money go?</h3>
      <div class="well">
        Organizers connect their PayPal or WePay accounts before the event starts, and all payments are put into those accounts. Both payment systems are extremely secure. We do suggest WePay, as it is much easier to use!
      </div>

      <h3>Is it free to organize a PayWithMe event?</h3>
      <div class="well">
        Yes! Organizers are NEVER charged. Why should you go through the hassle of organizing an event AND have to pay to do so?
      </div>

      <h3>Where does the money go?</h3>
      <div class="well">
        When group members pay using a credit card, they also pay a 4% + 80 service fee. This covers both credit card processing fees (2.9% + 30 cents) and a 1.1% + 50 cent PayWithMe fee. Organizers will always get what they asked for.
      </div>

      <h3>How do I host an event?</h3>
      <div class="well">
        All you have to do is register for PayWithMe, and click “Create New Event.” Our easy walk-through event creation process will help you input all the information needed.
      </div>

      <h3>When should an event be public?</h3>
      <div class="well">
        If you have an event that you’d like anyone and everyone to attend (an open party at a bar, a concert, a fundraiser) the event should be public. This way, anyone can invite friends and share the event with others.
      </div>

      <h3>Should I link my Facebook and Gmail accounts?</h3>
      <div class="well">
        Yes you should! We will never sell, distribute or abuse your information. Connecting these accounts makes it easier for you to connect to your friends. Is also makes it easier for us to help ensure organizer repayment!
      </div>

      <h3>How do I change my password?</h3>
      <div class="well">
        Click on the arrow in the top right and go to your account settings.
      </div>

      <h3>How do I edit my profile information?</h3>
      <div class="well">
        Click on the arrow in the top right and go to your account settings.
      </div>

    </div>
  </div>
</div>
