<%= provide(:title, "Frequently Asked Questions") %>
<div class="row">
	<h2>Frequently Asked Questions</h2>
	<div class="span12">
		<h3>How does PayWithMe work?</h3>
		<div class="well">
			<p>
				It is a group social payment platform!
			</p>
		</div>
	</div>
</div>