<%= provide(:title, "Frequently Asked Questions") %>
<div class="row">
	<h2>Frequently Asked Questions</h2>
	<div class="span12">
		<h3>Does PayWithMe charge me for using their service?</h3>
		<div class="well">
			Unfortunately yes, PayWithMe adds a minimal charge to each transaction. Fees are based on the facilitator, PayPal (2.9% + $0.30) and Dwolla ($0.25 on anything over $10) have their usual fees but the Organizer will never be charged. PayWithMe adds no fee on transactions under $10, a $0.50 fee under $30, a $1 fee under $50, and a $2 fee over $50 to keep our noses above the water.
		</div>

		<h3>How do I change my timezone for events?</h3>
		<div class="well">
			Timezone settings can be found in your account settings. Eastern Time (US & Canada) is assumed as the default.
		</div>

		<h3>How can I opt out of your awesome service?</h3>
		<div class="well">
			You can remove your information from our database with a simple email to contact@paywith.me or via our <%= link_to "Contact Page", contact_forms_path %>. Please allow us a day to process your request.
		</div>
	</div>
</div>