<%= provide(:title, "Jobs") %>
<div class="row">
	<h2>We're Hiring!</h2>
	<div class="span6">
		<h3>About Us</h3>
		<div class="well">
			PayWithMe facilitates the organization of events, and group payments on an
			interactive, social platform. Whether its a spring break trip with your buddies or
			collecting money for intermural sports we simplify your group payments.
		</div>
		<h3>Campus Representative Program</h3>
		<div class="well">
			PayWithMe is searching for ambitious undergraduate and graduate students
			looking to gain sales experience. This program provides college students with
			a great opportunity to build their network while gaining hands-on experience
			with a growing startup company.
		</div>
		<h3>Interested?</h3>
		<div class="well">
			If you are driven, social, and want to make a little money while working with an up-coming start up - send your resume and a brief statement of interest to <a href="mailto:jschonberger@paywith.me">jschonberger@paywith.me</a>.
		</div>
	</div>
	<div class="span6">
		<h3>Details</h3>
		<div class="well">
			<h4 style="margin-top:0px">Benefits:</h4>
			<ul>
				<li>Sales experience</li>
				<li>PayWithMe swag</li>
				<li>Networking opportunities</li>
				<li>Opportunity for full-time employment</li>
			</ul>
			<h4>Your Role:</h4>
			<ul>
				<li>Establish customer relationships</li>
				<li>Conduct sales pitches</li>
				<li>Identify potential partnerships</li>
				<li>Promote brand awareness</li>
				<li>Participate in bi-weekly conference calls</li>
			</ul>
		</div>
	</div>
</div>