<%= provide(:title, "Paid") %>

<div class="container">
	<div class="row">
		<div class="span12">
			<h3>Paid!</h3>
			<div class="well">
				<p>The event has been paid for in full.</p>
			</div>
		</div>
	</div>
</div>