<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Privacy Policy</h2>
    </div>
  </div>
<% end %>

<div class="container">
	<h3>PayWithMe Users</h3>
	<div class="well">
		<p>
			YOU AGREE TO USE THE PayWithMe SYSTEM ONLY FOR LAWFUL PURPOSES. You must be 18 years of age or older to use, register for an account, transmit/submit/post content, material or personally identifiable information, or submit any Payment as a PayWithMe Group Pay Organizer or Contributor. By submitting information to PayWithMe you represent that you meet these Age and Resident restrictions. PayWithMe provides you with access to and use of the website subject to your compliance with these Terms.
		</p>
		<p>
			PayWithMe Account Members are also responsible for maintaining the confidentiality of their accounts and passwords. You agree to accept responsibility for all activities that occur using your account or password.
		</p>
	</div>

	<h3>Privacy</h3>
	<div class="well">
		<p>		
			PayWithMe respects the privacy of our web site visitors. The only times you may provide us with your personal information is when you sign up for a PayWithMe Account, use the PayWithMe system or when you write to us. The information you provide to us in your account is only used by our system and partner companies. When you write to us with comments and suggestions, we will respond to you and only you. <strong>We will NEVER allow your information to be made available to a third party.</strong> However, we will email you from time to time in regards to our own products and services, promotions, or promotions of our partner companies. As in accordance with the PayWithMe system, you may receive emails pertaining to your Event at any time. You will be able to opt out of our online mailings at any time.
		</p>			
		<p>
			When joining PayWithMe, PayWithMe holds the right to save your email address, along with the recipient and add the email address along with the names, in the PayWithMe email database.
		</p>
		<p>
			<strong>You may contact us at info@paywith.me to request that we remove your information from our database.</strong>
		</p>
		<p>		
			We use other third party tools to provide safe and secure transactions on our site. We, PayWithMe, does not hold any of your credit card or financial information, as our secure third party tools handle this security and information. These third parties are prohibited from using your personally identifiable information for any other purpose.
		</p>
		<p>
			If we decide to change our privacy policy, we will post those changes to this privacy statement, the homepage, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here, by email, or by means of a notice on our homepage.
		</p>
		<p>
			If you have any questions about security on our Web site, you can send email us at info@paywith.me.
		</p>
	</div>

	<h3>Use of the PayWithMe Service as an Organizer or Contributor</h3>
	<div class="well">
		<p>
			PayWithMe defines our Account Members in two categories; Organizers and Contributors. A PayWithMe Organizer is defined as the originator of a PayWithMe event. The Organizer names the event, sends out the invites to friends, family and other members, manages the entire process and fulfills the group transaction. The PayWithMe Contributor accepts the Event invite and Contributes funds to the transaction.
		</p>
		<p>
			All PayWithMe Organizers and Contributors will ensure that their accounts have sufficient funds. PayWithMe is not responsible for any PayWithMe Event Organizer's purchase of any product.
		</p>
		<p>
			To use the PayWithMe Service as an Organizer, you must have a valid PayWithMe Account and a valid PayPal or Dwolla account for collections of funds. You will act as the Organizer of the group purchase and act on behalf of the Contributors who help to fund the group purchase. You will use the funds contributed for the sole purpose of a Group Purchase as defined in the Event details.
		</p>
		<p>	
			To use the PayWithMe Service as a Contributor, you must have a valid PayPal Account, Dwolla Account, or a valid Visa, MasterCard, American Express or Discover Card. When you use the PayWithMe Service as a Contributor, you acknowledge that you are contributing money to the Group Purchase established by the Organizer of the PayWithMe Event. You also acknowledge that the Organizer of the PayWithMe Event will purchase, contribute to or pay for the item or charity organization as stated in the PayWithMe Event.
		</p>
		<p>
			PayWithMe is a Payment System and is not responsible for any goods or services purchased, including goods or services with our partner websites. PayWithMe is not liable for any Contributor who wishes to receive refunds, exchanges or cancellations of any funds were paid to a PayWithMe Event Organizer. Neither is PayWithMe liable for such refunds if a PayWithMe Event Organizer fails to do with the funds what was agreed upon through the PayWithMe Event.
		</p>
	</div>

	<h3>Limitation of Liability</h3>
	<div class="well">
		<p>
			Neither PayWithMe, or any of its Officers, Directors, Employees, Agents, Successors, Partners or Investors shall be liable for any damages of any kind as a result of using the PayWithMe Website and Software. You agree to indemnify and hold PayWithMe harmless from any claim or demand, including reasonable attorneys' fees, due to or arising out of your use of the website and software, your violation of these Terms of Use, or your violation of any rights of another user.
		</p>
	</div>
</div>