<%= provide(:title, "Restaurants") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
  	<div class="page-header">
  	  <h2>Restaurants</h2>
  	</div>
  </div>
<% end %>

<div class="container">
  <div class="span6 no-margin">
  	<div class="well">
  		<h3>Deals</h3>
  	</div>
  </div>
  <div class="span6">
  	<div class="well">
  		<h3>Split the Bill</h3>
  	</div>
  </div>
</div>
