<li class="contact" data-name="<%= contact[:name] %>" data-email="<%= contact[:email] %>">
  <div class="name">
    <h4><%= contact[:name] %></h4>
  </div>
  <div class="email">
    <%= contact[:email] %>
  </div>
</li>
