<tr>
	<td>
		<%= link_to payment.event.title, payment.event %>
	</td>
	<td>
		<%= link_to user_name(payment.payer), payment.payer %>
	</td>
	<td>
		<%= payment.updated_at.to_s(:ordinal) %>
	</td>
	<td>
		<%= humanized_money_with_symbol payment.amount %>
	</td>
	<td>
		<% if payment.status_type == Payment::StatusType::PAID %>
			Complete
		<% end %>
	</td>
</tr>