<% provide(:title, 'Edit Payment') %>
<div class="page-header">
  <h1>Edit Payment</h1>
</div>

<%= form_for @payment do |f| %>
  <%= render 'fields', object: f %>

  <div class="form-actions">
    <%= f.submit "Update Payment", class: 'btn btn-primary' %>
  </div>
<% end %>