<% provide(:title, "Blog") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="page-header">
          <h2>
            PayWithMe Blog
          </h2>
        </div>
      </div>
      <div class="span3">
        <% if current_user.admin %>
          <%= link_to "New Post", new_post_path, class: "btn btn-primary btn-block push-top-title-multiline" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <% if @posts.any? %>
        <ul class="list-styling">
          <%= render @posts %>
          <%= will_paginate @posts %>
        </ul>
      <% else %>
        No posts yet!
      <% end %>
    </div>
  </div>
</div>