<tr>
  <td>
    <%= link_to campus_rep.name, edit_campus_rep_path(campus_rep) %>
  </td>
  <td>
    <%= campus_rep.school %>
  </td>
  <td>
    <%= campus_rep.referrals.count %>
  </td>
  <td>
    <%= distance_of_time_in_words_to_now campus_rep.created_at %> ago
  </td>
</tr>