// Variables 

$eventBorder: #D8D8D8;
$darkBlue: #32454b;
$mediumBlue: #52636b;
$lightBlue: #6f8594;
$lightGray: #ececec;
$mediumGray: #a4a4a4;
$offWhite: #f9f9f9;
$offBlack: #292929;

// Global 
body
{
    color: $offBlack;
}

// Typography 
h1,h2,h3,h4
{
    font-family: 'Crete Round';
    font-weight: normal;
    color: $offBlack;
}

h1
{
    margin-bottom: 30px;
    text-align: center;
}

h2
{
}

h3
{
    color: $mediumBlue;
}

p
{
    font-size: 1em;
    line-height: 1.7em;
}

// Headers 
.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    padding: 0;
}

// Nav Bar 
.navbar
{
    .navbar-inner
    {
        background-color: $darkBlue;
        background-image: none;
        border-radius: 0;
        height: 50px;
        line-height: 50px;
    	
        #logo
        {
            margin-top: -4px;
        }

        ul.nav
        {
            z-index: 1001;
            li
            {
                line-height: 30px;

                a
                {
                    text-shadow: none;
                    font-family: 'Crete Round';
                    color: $offWhite;
                    font-size: 18px;

                    &:hover
                    {
                        background-color: $mediumBlue;
                    }
                }

                i
                {
                    margin-top: 7px;
                }

                &.dropdown.open
                {
                    a
                    {
                        background-color: $mediumBlue;
                    }
                }

                ul.dropdown-menu
                {
                    border-radius: 0;
                    border: 0;
                    padding: 0;
                    margin: 0;

                    li
                    {
                        a
                        {
                            padding: 10px 12px;
                            font-size: 16px;

                            &:hover
                            {
                                background-color: $lightBlue;
                                background-image: none;
                            }
                        }
                    }

                    &:before, &:after
                    {
                        display: none;
                    }
                }
            }
        }
    }
}

// Wells
.well
{
    border-radius: 0;
    box-shadow: none;
    background-color: $lightGray;
    border: 1px solid $mediumGray;
}

// Forms
textarea,input
{
    border-radius: 0 !important;

    &:focus
    {
        border-color: $lightBlue !important;
    }
}

.input-append,.input-prepend
{
    input
    {
        box-sizing: border-box;
        height: 30px;
    }
}

.btn
{
   border-radius: 0 !important;
   padding: 4px 40px;

    &.btn-primary
    {
        background-color: $mediumBlue;
        background-image: none;
        -webkit-transition: background-color 0.15s ease-in;

        &:hover
        {
            background-color: $darkBlue;
        }
    }
}


.form-actions
{
    padding: 0;
    background-color: transparent;
    margin: 10px 0 0 0;
}

form
{
    margin: 0;

    label
    {
        &.checkbox
        {
            margin-bottom: 20px;
        }
    }
}

.add-on
{
    border-radius: 0 !important;
}

// Button groups
.btn-group
{
	button.third, button.half
	{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 33.3%;
        padding: 4px 10px;

        &.last
        {
            width: 34%;
        }
	}

	button.half
	{
		width: 50%;

        &.last
        {
            width: 50%;
        }
	}
}

// Utility
$mediumMargin: 10px;
.push-top { margin-top: $mediumMargin; }
.push-bottom { margin-bottom: $mediumMargin; }

// Alerts
.alert
{
    border-radius: 0;

    &.alert-error
    {
        ul.error-messages
        {
            list-style-type: none;
            margin: 0;
        }
    }

    // &.alert-info
    // {
    //     background-color: $lightBlue;
    //     border-color: $mediumBlue;
    //     color: $offWhite;
    //     text-shadow: none;
    // }

    &#flash_alert
    {
        margin-bottom: 10px;
    }
}


// Errors
#error-explanation
{
    ul
    {
        list-style-type: none;
        margin: 0;
    }
}

// Event Display 

.event-description
{
    // max-height: 120px;

    .quarter
    {
        width: 25%;
        float: left;
    }

    .three-quarters
    {
        width: 72%;
        padding-left: 3%;
        float: left;
    }
}

.event-members
{
    max-height: 350px;
    overflow: auto;

    /* Event members display */
    .member-list-styling
    {
        list-style: none;

        .member
        {
            margin-top: -1px;
            padding: 10px;
            border-bottom: 1px solid #e8e8e8;

            .picture
            {
                margin-bottom: 5px;
                margin-top: 5px;
                display: block;
            }

            .name
            {
                font-size: 1.3em;
                color: #848484;
                font-weight: bold;
                line-height: 1;

                &:hover
                {
                    color: #000000;
                    text-decoration: none;
                }
            }
        }
    }
}

.event-chat
{
    height: 550px;

    .messages
    {
        height: 400px;
        overflow: auto;

        .message-list
        {
            list-style: none;
            margin: 0;
            padding: 0;

            .message
            {
                // margin-top: -1px;
                // padding: 10px;
                border-bottom: 1px solid #e8e8e8;
                margin-bottom: 10px;

                .picture
                {
                    // margin-bottom: 5px;
                    // margin-top: 5px;
                    // display: block;
                    float: left;

                    img
                    {
                        border: 1px solid $mediumGray;
                    }
                }

                .body
                {
                    padding-left: 10px;
                    float: left;

                    .user a
                    {
                        color: $offBlack;
                        font-weight: bold;
                    }

                    .timestamp
                    {
                        color: $mediumGray;
                    }
                }

                .name
                {
                    font-size: 1.3em;
                    color: #848484;
                    font-weight: bold;
                    line-height: 1;

                    &:hover
                    {
                        color: #000000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Footer
footer
{
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid $lightGray;
    color: $mediumGray;
    text-align: center;
}

.debug
{
    margin-top: 25px;
}