/* Variables */
$eventBorder: #D8D8D8;

/* Typography */
h1
{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2
{
    font-size: 1.2em;
    letter-spacing: -1px;
    text-align: center;
    font-weight: normal;
}

p
{
    font-size: 1em;
    line-height: 1.7em;
}

/* Nav Bar */
.navbar .container
{
	// width: 940px;

	#logo { padding-top: 5px; }
}

// Forms
.btn-full {
	width: auto;
	display: block;
}

// Utility
$mediumMargin: 10px;
.push-top { margin-top: $mediumMargin; }
.push-bottom { margin-bottom: $mediumMargin; }

// Alerts
.alert-error
{
	ul.error-messages
	{
		list-style-type: none;
		margin: 0;
	}
}

// Button groups
.btn-group
{
	button.third, button.half
	{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 33.3%;
	}

	button.half
	{
		width: 50%;
	}
}

// Errors
#error-explanation
{
    ul
    {
        list-style-type: none;
        margin: 0;
    }
}

/* Event Dsiplay */
.event-title
{
    padding-bottom: 35px;
}

.event-description
{
    height: 120px;
}

.event-members
{
    height: 350px;
    overflow: auto;

    /* Event members display */
    .member-list-styling
    {
        list-style: none;

        .member
        {
            margin-top: -1px;
            padding: 10px;
            border-bottom: 1px solid #e8e8e8;

            .picture
            {
                margin-bottom: 5px;
                margin-top: 5px;
                display: block;
            }

            .name
            {
                font-size: 1.3em;
                color: #848484;
                font-weight: bold;
                line-height: 1;

                &:hover
                {
                    color: #000000;
                    text-decoration: none;
                }
            }
        }
    }
}

.event-chat
{
    height: 530px;

    .messages
    {
        height: 400px;
        overflow: auto;

        .messages-styling
        {
            list-style: none;

            .message
            {
                margin-top: -1px;
                padding: 10px;
                border-bottom: 1px solid #e8e8e8;

                .picture
                {
                    margin-bottom: 5px;
                    margin-top: 5px;
                    display: block;
                }

                .name
                {
                    font-size: 1.3em;
                    color: #848484;
                    font-weight: bold;
                    line-height: 1;

                    &:hover
                    {
                        color: #000000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/* Footer */
footer
{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $eventBorder;

    small
    {
        float: left;
    }
}