.navbar .container
{
	// width: 940px;

	#logo { padding-top: 4px; }
}

.btn-full {
	width: auto;
	display: block;
}

$mediumMargin: 10px;

.push-top { margin-top: $mediumMargin; }
.push-bottom { margin-bottom: $mediumMargin; }

.alert-error
{
	ul.error-messages
	{
		list-style-type: none;
		margin: 0;
	}
}

.btn-group
{
	button.third, button.half
	{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 33.3%;
	}

	button.half
	{
		width: 50%;
	}
}

/* Event Dsiplay */
.event-title
{
    border: 1px #fff;
    
}