// Global =====================================================================
body
{
    color: $offBlack;
}

.hidden
{
    // Only use display: none for .hidden since
    // jQuery's show() doesn't change visibility
    visibility: visible;
}

.inline
{
    display: inline;
}

// Test change

// Typography =================================================================
h1, h2, h3, h4
{
    font-family: $headerFont;
    font-weight: normal;
    color: $offBlack;
}

h1
{
    margin-bottom: 30px;
    text-align: center;
}

h2
{
}

h3
{
    color: $mediumBlue;
}

h4
{
    a
    {
        color: $offBlack;
        text-decoration: none;

        &:hover
        {
            color: $offBlack;
            text-decoration: underline;
        }
    }
}

p
{
    font-size: 1em;
    line-height: 1.7em;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    padding: 0;

    i
    {
        margin-top: 15px;
    }

    .tooltip
    {
        line-height: 1.7em;
    }
}

// Wells ======================================================================
.well
{
    position: relative;
    border-radius: 0;
    box-shadow: none;
    background-color: $lightGray;
    border: 1px solid $mediumGray;

    .organized
    {
        position: absolute;
        right: 2px;
        top: -5px;

        .tooltip
        {
            width: 135px;
        }
    }
}

.organized-event
{
    background-color: $mediumGray;
}

// Forms ======================================================================
textarea,input
{
    border-radius: 0 !important;

    &:focus
    {
        border-color: $lightBlue !important;
    }
}

input.input-border-box
{
    box-sizing: border-box;
    height: 28px;
}

.input-append,.input-prepend
{
    input
    {
        box-sizing: border-box;
        height: 30px;
    }
}

.btn
{
   border-radius: 0 !important;
   padding: 4px 40px;

    &.btn-primary
    {
        background-color: $mediumBlue;
        background-image: none;
        -webkit-transition: background-color 0.15s ease-in;

        &:hover
        {
            background-color: $darkBlue;
        }
    }
}

.form-actions
{
    padding: 0;
    background-color: transparent;
    margin: 10px 0 0 0;
    border: 0;
}

form
{
    margin: 0;

    label
    {
        &.checkbox
        {
            margin-bottom: 20px;
        }
    }
}

.add-on
{
    border-radius: 0 !important;
}

.timepicker {
    margin-top: 1px;
}

// Button groups ==============================================================
.btn-group
{
	button.third, button.half
	{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 33.3%;
        padding: 4px 10px;
        float: none;

        &.last
        {
            width: 34%;
        }
	}

	button.half
	{
		width: 50%;

        &.last
        {
            width: 50%;
        }
	}

    button.active
    {
        background-color: #D6D6D6;
    }
}

// Utilities ==================================================================
.push-top { margin-top: $mediumMargin; }
.push-top-title { margin-top: 15px; }
.push-bottom { margin-bottom: $mediumMargin; }
.push-right { margin-right: $mediumMargin; }
.push-left { margin-left: $mediumMargin; }
h1,h2,h3,h4 { &.push-top { margin-top: $largeMargin; }}
.center { text-align: center; }
.spacer { height: 0; border-top: 1px solid $lightGray; margin: $largeMargin 0; }
.index-partials { margin-top: 10px; }

// Alerts =====================================================================
.alert
{
    border-radius: 0;
    margin-bottom: $mediumMargin;

    &.alert-error
    {
        ul.error-messages
        {
            list-style-type: none;
            margin: 0;
        }
    }
}

.third
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 33%;
    float: left;
}

.half
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 50%;
    float: left;
}

// Errors =====================================================================
#error-explanation
{
    ul
    {
        list-style-type: none;
        margin: 0;
    }
}

.large-statistic
{
    color: $mediumGray;
    font-size: 18px;
    margin-bottom: $mediumMargin;

    .count
    {
        font-size: 25px;
        color: $offBlack;
        font-weight: bold;
        padding-right: 3px;
    }
}

// Footer =====================================================================
footer
{
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid $lightGray;
    color: $mediumGray;
    text-align: center;
}

.debug
{
    margin-top: 25px;
}

.footer-link
{
    color: $mediumGray;

    &:hover
    {
        color: $mediumGray;
    }
}

// Modals =====================================================================
.modal#stub-login-modal
{
    width: 800px;
    margin-left: -400px;
    top: 40%;

    .modal-body
    {
        max-height: 500px;

        .well
        {
            margin-bottom: 0px;
        }
    }
}

.progress-addon
{   
    position: relative;

    .progress-percentage
    {
        position: absolute;
        margin-left: -50%;
    }
}

.quarter
{
    width: 25%;
    float: left;
}

.three-quarters
{
    width: 72%;
    padding-left: 3%;
    float: left;
}