/* Variables */
$eventBorder:; #848484;

.navbar .container
{
	// width: 940px;

	#logo { padding-top: 4px; }
}

.btn-full {
	width: auto;
	display: block;
}

$mediumMargin: 10px;

.push-top { margin-top: $mediumMargin; }
.push-bottom { margin-bottom: $mediumMargin; }

.alert-error
{
	ul.error-messages
	{
		list-style-type: none;
		margin: 0;
	}
}

.btn-group
{
	button.third, button.half
	{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 33.3%;
	}

	button.half
	{
		width: 50%;
	}
}
    
#error-explanation
{
    ul
    {
        list-style-type: none;
        margin: 0;
    }
}

/* Event Dsiplay */
.event-title
{
    border: 1px $eventBorder;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.event-description
{
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px $eventBorder;
}

.event-members {
    border: 1px $eventBorder;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.event-chat
{
    border-radius: 1px $eventBorder;
    -moz-border-radius: 15px;
    border-radius: 15px;
}