/* MIXINS, VARIABLES, ETC. */

$pwmGreen: #007f00;

/* NAVBAR */

#logo
{
    float: left;
    margin-top: 1px;
    margin-right: 10px;
    font-size: 1.5em;
    color: $pwmGreen;
    letter-spacing: -1px;
    padding-top: 9px;
    line-height: 1;

    &:hover
    {
      color: #000;
      text-decoration: none;
    }
}

.dropdown-menu-navigation
{
    width: 384px;
}

#navbar-notifications
{
    margin-left: 10px;
    margin-top: -3px;

    .dropdown-menu
    {
        width:200px;

        a
        {
            white-space: normal;
        }

        li.unread
        {
            a
            {
                font-weight: bold;
            }
        }
    }

    .icon-globe
    {
        background-image: none;
        font-size: 18px;
    }
}

.unread-notifications-count
{
    background-color: #333;
    border-radius: 20px;
    padding: 1px 6px;
    color: #FFF;
    float: right;
    position: absolute;
    top: 16px;
    left: 23px;
}

.navbar-profile-image
{
    width: 24px;
    height: 24px;
    float: left;
    margin-top: -3px;
    margin-right: 5px;
    border: 1px solid #999;
}

.nav.pull-right
{
    margin-top: 2px;
}

a.btn-block
{
    display: block;
}

.push-bottom
{
    margin-bottom: 10px;
}
.push-top
{
    margin-top: 10px;
}
.push-right
{
    margin-right: 10px;
}
.push-left
{
    margin-left: 10px;
}

/* SEARCH RESULTS */

ul.users
{
    li
    {
        list-style-type: none;
    }

    img
    {
        width: 75px;
        height: 75px;
    }
}

/* PAYMENT PROCESSING PAGE */
.processor-logo
{
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 2px;
}

.processor-logo:hover,.processor-logo.selected
{
    border-color: rgba(82, 168, 236, 0.8);
    cursor: pointer;
}