// Global 
body
{
    color: $offBlack;
}

.hidden
{
    // Only use display: none for .hidden since
    // jQuery's show() doesn't change visibility
    visibility: visible;
}

// Typography 
h1,h2,h3,h4
{
    font-family: 'Crete Round';
    font-weight: normal;
    color: $offBlack;
}

h1
{
    margin-bottom: 30px;
    text-align: center;
}

h2
{
}

h3
{
    color: $mediumBlue;
}

h4
{
    a
    {
        color: $offBlack;
        text-decoration: none;

        &:hover
        {
            color: $offBlack;
            text-decoration: underline;
        }
    }
}

p
{
    font-size: 1em;
    line-height: 1.7em;
}

// Headers 
.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    padding: 0;
}

// Nav Bar 
.navbar
{
    .navbar-inner
    {
        background-color: $darkBlue;
        background-image: none;
        border-size: 0px;
        border-radius: 0px;
        border-color: $darkBlue;
        height: 50px;
        line-height: 50px;
    	
        #logo
        {
            margin-top: -4px;
        }

        ul.nav
        {
            z-index: 1001;
            li
            {
                line-height: 30px;

                a
                {
                    text-shadow: none;
                    font-family: 'Crete Round';
                    color: $offWhite;
                    font-size: 18px;

                    &:hover
                    {
                        background-color: $mediumBlue;
                    }
                }

                i
                {
                    margin-top: 5px;
                }

                &.dropdown.open
                {
                    a
                    {
                        background-color: $mediumBlue;
                    }
                }
            }
        }
    }
}

ul.dropdown-menu
{
    border-radius: 0;
    border: 0;
    padding: 0;
    margin: 0;

    li
    {
        a
        {
            padding: 10px 20px 10px 12px;
            font-size: 16px;

            &:hover
            {
                background-color: $lightBlue !important;
                background-image: none !important;
            }
        }
    }

    &:before, &:after
    {
        display: none !important;
    }

    &.typeahead
    {
        width: auto;

        li.active a
        {
            background-color: $mediumBlue !important;
            background-image: none !important;
            color: $offWhite;
        }
    }
}

// Wells
.well
{
    border-radius: 0;
    box-shadow: none;
    background-color: $lightGray;
    border: 1px solid $mediumGray;
}

// Forms
textarea,input
{
    border-radius: 0 !important;

    &:focus
    {
        border-color: $lightBlue !important;
    }
}

.input-append,.input-prepend
{
    input
    {
        box-sizing: border-box;
        height: 30px;
    }
}

.btn
{
   border-radius: 0 !important;
   padding: 4px 40px;

    &.btn-primary
    {
        background-color: $mediumBlue;
        background-image: none;
        -webkit-transition: background-color 0.15s ease-in;

        &:hover
        {
            background-color: $darkBlue;
        }
    }
}

.form-actions
{
    padding: 0;
    background-color: transparent;
    margin: 10px 0 0 0;
}

form
{
    margin: 0;

    label
    {
        &.checkbox
        {
            margin-bottom: 20px;
        }
    }
}

.add-on
{
    border-radius: 0 !important;
}

// Button groups
.btn-group
{
	button.third, button.half
	{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 33.3%;
        padding: 4px 10px;

        &.last
        {
            width: 34%;
        }
	}

	button.half
	{
		width: 50%;

        &.last
        {
            width: 50%;
        }
	}
}

// Utility
.push-top { margin-top: $mediumMargin; }
h1,h2,h3,h4 { &.push-top { margin-top: $largeMargin; }}
.push-bottom { margin-bottom: $mediumMargin; }

// Alerts
.alert
{
    border-radius: 0;

    &.alert-error
    {
        ul.error-messages
        {
            list-style-type: none;
            margin: 0;
        }
    }

    // &.alert-info
    // {
    //     background-color: $lightBlue;
    //     border-color: $mediumBlue;
    //     color: $offWhite;
    //     text-shadow: none;
    // }

    &#flash_alert
    {
        margin-bottom: 10px;
    }
}


// Errors
#error-explanation
{
    ul
    {
        list-style-type: none;
        margin: 0;
    }
}

// User-Show
.user-header
{
    margin-top: 20px;
    text-align: center;
}

.invite-to-event-button
{
    margin-top: 35px;
    text-align: center;

    .btn
    {
        padding: 4px 30px;
    }
}

.events-to-invite
{
    list-style: none;

    li
    {
        padding: 2px 0 2px 5px;
        background-color: $lightBlue;

        a
        {
            color: $offWhite;
        }
    }
}

// Event Display 
.event-description
{
    .quarter
    {
        width: 25%;
        float: left;
    }

    .three-quarters
    {
        width: 72%;
        padding-left: 3%;
        float: left;
    }
}

.event-members
{
    max-height: 350px;
    overflow: auto;

    /* Event members display */
    .member-list
    {
        list-style: none;
        padding: 0;
        margin: 0;

        .member
        {
            margin-bottom: 5px;
            width: 50%;
            float: left;

            &:last-child
            {
                margin-bottom: 0;
            }

            .profile_image
            {
                // margin-bottom: 5px;
                margin-top: 3px;
                // display: block;
                float: left;

                img
                {
                    border: 1px solid $mediumGray;
                }
            }
        }

        .body
        {
            padding-left: 10px;
            // padding-top: 5px;
            float: left;

            .user a
            {
                color: $offBlack;
                font-weight: bold;
            }

            .status
            {
                color: $mediumGray;
            }
        }
    }
}

// Chat Messages Display
.message-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 380px;
    overflow: auto;

    .message
    {
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 10px;

        .profile-image
        {
            float: left;

            img
            {
                border: 1px solid $mediumGray;
            }
        }

        .current-user-profile-image
        {
            float: right;
            padding-right: 15px;

            img
            {
                border: 1px solid $mediumGray;
            }
        }

        .body
        {
            padding-left: 10px;
            float: left;

            .user a
            {
                color: $offBlack;
                font-weight: bold;
            }

            .timestamp
            {
                color: $mediumGray;
            }
        }

        .current-user-body
        {
            padding-right: 10px;
            text-align: right;

            .user a
            {
                color: $offBlack;
                font-weight: bold;
            }

            .timestamp
            {
                color: $mediumGray;
            }
        }

        .name
        {
            font-size: 1.3em;
            color: #848484;
            font-weight: bold;
            line-height: 1;

            &:hover
            {
                color: #000000;
                text-decoration: none;
            }
        }
    }

    .new-message
    {
        display: none;
    }
}

// Adding users to events
#invited_members, #invited_groups
{
    .member
    {
        margin-top: 10px;

        .profile_image
        {
            float: left;
        }

        .info
        {
            float: left;
            margin-left: 5px;
            line-height: 17px;
        }

        .name
        {
            font-weight: bold;
        }

        .email
        {
            color: $mediumGray;
        }

        &.member_with_email
        {
            height: 34px;
            line-height: 34px;
            .email
            {
                font-weight: bold;
                color: $offBlack;
            }
        }
    }
}

// Footer
footer
{
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid $lightGray;
    color: $mediumGray;
    text-align: center;
}

.debug
{
    margin-top: 25px;
}

// Modals
.modal#stub-login-modal
{
    width: 800px;
    margin-left: -400px;
    top: 40%;

    .modal-body
    {
        max-height: 500px;

        .well
        {
            margin-bottom: 0px;
        }
    }
}