.navbar .container
{
	width: 940px;

	#logo { padding-top: 4px; }
}

.btn-full {
	width: auto;
	display: block;
}

$mediumMargin: 10px;

.push-top { margin-top: $mediumMargin; }
.push-bottom { margin-bottom: $mediumMargin; }