// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-title, input.event-title
{
	font-size: 28px;
	line-height: 34px;
	height: 34px;
}

.event_division_type_option
{
	display: none;
}

.event_image_option
{
    display: none;
}

// Event Display ==============================================================
.event-description
{
    .quarter
    {
        width: 25%;
        float: left;
    }

    .three-quarters
    {
        width: 72%;
        padding-left: 3%;
        float: left;
    }
}

.event-members
{
    max-height: 350px;
    overflow: auto;

    /* Event members display */
    .member-list
    {
        list-style: none;
        padding: 0;
        margin: 0;

        .member
        {
            margin-bottom: 5px;
            width: 50%;
            float: left;

            &:last-child
            {
                margin-bottom: 0;
            }

            .profile_image
            {
                // margin-bottom: 5px;
                margin-top: 3px;
                // display: block;
                float: left;

                img
                {
                    border: 1px solid $mediumGray;
                }
            }
        }

        .body
        {
            padding-left: 10px;
            // padding-top: 5px;
            float: left;

            .user a
            {
                color: $offBlack;
                font-weight: bold;
            }

            .status
            {
                color: $mediumGray;
            }
        }
    }
}

#edit-button
{
    margin-top: 35px;
}

// Chat Messages Display ======================================================
.message-list
{
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    height: 380px;
    overflow-y: scroll;

    .message
    {
        margin-bottom: 10px;

        .profile-image
        {
            float: left;
        }

        .current-user
        {
            &.profile-image
            {
                float: right;
                padding-right: 15px;
            }

            &.body
            {
                padding-right: 10px;
                text-align: right;
            }
        }

        img
        {
            border: 1px solid $mediumGray;
        }

        .body
        {
            padding-left: 10px;
            float: left;
            @include box-sizing(border-box);
            margin-top: 3px;
        }

        .message-content
        {
            word-break: normal;
            word-wrap: break-word;
        }

        .user a
        {
            color: $offBlack;
            font-weight: bold;
        }

        .timestamp
        {
            color: $mediumGray;
        }

        .name
        {
            font-size: 1.3em;
            color: #848484;
            font-weight: bold;
            line-height: 1;

            &:hover
            {
                color: #000000;
                text-decoration: none;
            }
        }
    }

    .new-message
    {
        display: none;
    }
}

.new-message-form
{
    margin-top: -10px;
}

// Adding users to events =====================================================
#invited_members, #invited_groups
{
    .member
    {
        margin-top: 10px;

        .profile_image
        {
            float: left;
        }

        .info
        {
            float: left;
            margin-left: 5px;
            line-height: 17px;
        }

        .name
        {
            font-weight: bold;
        }

        .email
        {
            color: $mediumGray;
        }

        &.member_with_email
        {
            height: 34px;
            line-height: 34px;
            .email
            {
                font-weight: bold;
                color: $offBlack;
            }
        }
    }
}