// Show
// =========================
.event-show
{
    .image
    {
        border: 1px solid $mediumGray;
        border-bottom: 0;
        width: 100%;
        height: 250px;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        @include box-sizing(border-box);
        &.default
        {
            height: 100px;
        }
    }
    .members
    {
        max-height: 350px;
        overflow: auto;
        list-style: none;
        padding: 0;
        margin: 0;

        .member
        {
            margin-bottom: 5px;
            width: 50%;
            float: left;
            &:last-child { margin-bottom: 0; }
            
            .profile_image
            {
                margin-top: 3px;
                float: left;
                position: relative;

                img
                {
                    border: 1px solid $mediumGray;
                }

                .overlay
                {
                    position: absolute;
                    width: 34px;
                    height: 34px;
                    top: 0px;
                    left: 0px;
                    background-color: rgba(0, 0, 0, .8);
                    z-index: 100;
                    text-align: center;
                    @include box-sizing(border-box);
                    padding-top: 8px;
                    cursor: pointer;
                }

                .link
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    z-index: 101;
                }
            }

        }

        .body
        {
            padding-left: 10px;
            padding-right: 10px;
            // padding-top: 5px;
            float: left;
            @include box-sizing(border-box);

            .user a
            {
                color: $offBlack;
                font-weight: bold;
            }

            .status
            {
                float: left;
                color: $mediumGray;
            }
        }
    }

    .messages
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 380px;
        overflow-y: scroll;
        .message
        {
            margin-bottom: 10px;
            .profile-image
            {
                float: left;
                img { border: 1px solid $mediumGray; }
            }
            &.current
            {
                .profile-image
                {
                    float: right;
                    padding-right: 15px;
                }
                .body
                {
                    padding-right: 10px;
                    text-align: right;
                }
            }
            .body
            {
                padding-left: 10px;
                float: left;
                @include box-sizing(border-box);
                margin-top: 3px;
                .content
                {
                    word-break: normal;
                    word-wrap: break-word;
                }
                .user a
                {
                    color: $offBlack;
                    font-weight: bold;
                }
                .timestamp
                {
                    color: $mediumGray;
                }
            }
        }
        .new-messages
        {
            display: none;
        }
    }

    .new-message
    {
        margin-top: -10px;
        margin-bottom: 20px;
    }
}

// Partial
// =========================
.event
{
    padding: 0;
    .image
    {
        width: 100%;
        height: 100px;
        background-size: 100%;
        background-position: center center;
        border-bottom: 1px solid $mediumGray;
        background-color: #FFF;
    }
    .info
    {
        padding: $mediumMargin;
        h4 { margin-top: 0; }
    }
    .icons
    {
        float: right;
        margin-top: -2px;
    }
}

// Forms
// =========================
#invited_members, #invited_groups
{
    .member
    {
        margin-top: 10px;
        .profile_image
        {
            float: left;
        }
        .info
        {
            float: left;
            margin-left: 5px;
            line-height: 17px;
        }
        .name { font-weight: bold; }
        .email { color: $mediumGray; }
        .delete
        {
            float: right;
            line-height: 34px;
            cursor: pointer;
        }
        &.member_with_email
        {
            height: 34px;
            line-height: 34px;
            .email
            {
                font-weight: bold;
                color: $offBlack;
            }
            .info { line-height: 34px; }
        }
    }
}
