// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-title, input.event-title
{
	font-size: 28px;
	line-height: 34px;
	height: 34px;
}

.payment_division_option
{
	display: none;
}