body
{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url(asset_path('layout/bg.png', image));
}

input, button, select, textarea
{
  font-family: inherit;
}

.img-polaroid
{
  padding: 5px;
  border-color: $grey;
}

h1,h2,h3,h4
{
  font-weight: bold;
}

h2
{
  font-size: 25px;
  letter-spacing: -1px;
  color: $black;
}

h3
{
  margin-top: 0;
  font-size: 20px;
  letter-spacing: -1px;
  color: $black;
}

em
{
  color: $gray;
  font-size: 20px;
  letter-spacing: -1px;

  small
  {
    font-size: 16px;
    letter-spacing: -0.5px;
  }
}

.btn
{
  color: $black;
  &:hover
  {
  }
  &.btn-large
  {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    @include border-radius(10px);
  }
  &.btn-primary
  {
    color: $white;
    background-image: url(asset_path('layout/btn_bg.png', image));
    background-color: transparent;
    border: 0;
  }
  &.btn-danger,&.btn-success { color: $white; }
}

.btn-group
{
  .btn.third
  {
    @include box-sizing(border-box);
    width: 33%;
    &:last-child
    {
      width: 34%;
    }
  }
  .btn.half
  {
    width: 50%;
  }
}

.wrapper
{
  margin-top: $margin;
  border: 5px solid $darkBlue;
  background-color: $white;
  margin-bottom: $margin;
  &.wrapper-bordered
  {
    border-width: 5px 0;
  }
  &.wrapper-top
  {
    margin-top: -1 * $margin;
    margin-bottom: $smallMargin;
    border-width: 0 0 5px 0;
    .page-header { margin-top: $smallMargin; }
  }
  &.wrapper-bottom-homepage
  {
    margin-bottom: $margin;
    border-width: 5px 0 0 0;
    .page-header { margin-bottom: $smallMargin; }
  }
  &.wrapper-top-homepage
  {
    margin-top: -1 * $margin;
    margin-bottom: $margin;
    border-width: 0 0 5px 0;
    padding-bottom: $margin;
    .page-header { margin-top: $smallMargin; }
  }
}

.push-bottom { margin-bottom: $margin; }
.push-bottom-small { margin-bottom: $smallMargin; }
.push-bottom-tiny { margin-bottom: $tinyMargin; }
.push-top { margin-top: $margin; }
.push-top-small { margin-top: $smallMargin; }
.push-top-tiny { margin-top: $tinyMargin; }
.push-top-title { margin-top: 20px; }
.push-top-title-multiline { margin-top: 34px; }
.push-right-small { margin-right: $smallMargin; }
.push-left-small { margin-left: $smallMargin; }

.page-header
{
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: $smallMargin;
  border: 0;
  h2 { margin: 0; }
}

.form-actions
{
  padding: 0;
  border: 0;
  margin: $smallMargin 0 0 0;
}

form
{
  margin: 0;
  input
  {
    @include box-sizing(border-box);
    &.datepicker, &.timepicker { height: 30px; }
    &.timepicker { margin-top: 1px; }
  }
}

.input-append
{
  input { height: 30px; }
}

ul.error-messages
{
  list-style-type: none;
  margin: 0;
}

.hidden
{
  display: none;
  visibility: visible;
}

.alert ul
{
  list-style-type: none;
  margin: 0;
}

.well p:last-child
{
  margin-bottom: 0;
}

.large-statistic
{
  font-size: 18px;
  color: $gray;
  font-style: italic;
  .count
  {
    font-style: normal;
    font-size: 20px;
    color: $black;
    font-weight: bold;
    margin-right: $tinyMargin;
  }
}

.no-margin
{
  margin-left: 0px !important;
}

// START MOBILE FIXES
@media (max-width: 767px)
{
  body
  {
    padding: 0;
  }
  .container
  {
    margin: 0 $margin;
  }
  .wrapper.wrapper-top
  {
    margin-top: -1 * $smallMargin;
  }
  .btn-group
  {
    .btn.third,.btn.half,.btn.third:last-child
    {
      width: 100%;
      display: block;
      float: none;
      margin-bottom: 2px;
    }
  }
  .push-top-title,.push-top-title-multiline
  {
    margin-top: $smallMargin;
    margin-bottom: $smallMargin;
  }
  .push-top-title-second
  {
    margin-top: -1 * $smallMargin + 2px !important;
    margin-bottom: $smallMargin;
  }
  .img-polaroid
  {
    width: 100%;
  }
}
