// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-list
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}