.navbar
{
  margin-bottom: $margin;
  height: 75px;
  background-image: url(asset_path('layout/header_bg.png', image));
  filter: none !important;
  .navbar-inner
  {
    filter: none;
    height: 75px;
    background: transparent;
    border: 0;
    @include box-sizing(border-box);
    .container
    {
      width: 940px;
      #logo
      {
        width: 185px;
        height: 32px;
        background-image: url(asset_path('layout/logo.png', image));
        background-repeat: no-repeat;
        margin-top: 21px;
        float: left;
      }
      .nav
      {
        float: right;
        li
        {
          &.mobile { display: none; }
          a
          {
            @include box-sizing(border-box);
            color: $white;
            text-shadow: 1px 1px 0 $darkBlue;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: -1px;
            height: 75px;
            line-height: 55px;
            &:hover
            {
              color: $white;
              background-color: rgba(255, 255, 255, 0.1);
            }
          }
          &.dropdown.open
          {
            a { background-color: $darkBlue; }
            .dropdown-menu
            {
              li
              {
                a
                {
                  background-color: $white;
                  color: $darkBlue;
                  text-transform: none;
                  font-size: 16px;
                  text-shadow: none;
                  line-height: 20px;
                  height: auto;
                  &:hover
                  {
                    color: $white;
                    background-color: $darkBlue;
                    background-image: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.unread-notifications-count
{
    position: absolute;
    z-index: 1050;
    margin-top: -28px;
    margin-left: 10px;
    background-color: $red;
    border-radius: 3px;
    padding: 0 3px 1px 3px;
    line-height: 16px;
    font-size: 12px;
    color: $white !important;
}

// START MOBILE FIXES
@media (min-width: 1200px)
{
  .navbar .navbar-inner .container
  {
    width: 1170px;
  }
}

@media (max-width: 1159px) and (min-width: 980px)
{
  .navbar .navbar-inner .container
  {
    width: 940px;
  }
}

@media (max-width: 979px) and (min-width: 768px)
{
  .navbar .navbar-inner .container
  {
    width: 724px;
  }
}

@media (max-width: 767px)
{
  .navbar
  {
    margin-bottom: $smallMargin;
    .navbar-inner .container
    {
      width: auto;
      margin: 0;
      #logo
      {
        width: 111px;
        background-image: url(asset_path('layout/logo_mobile_beta.png', image));
      }
    }
    .desktop { display: none; }
    .mobile
    {
      display: block !important;
      margin-top: 24px;
      .btn-navbar
      {
        background-color: $darkBlue;
        background-image: none;
        margin-top: -1px;
        &:hover
        {
          background-color: #222b3b;
        }
      }
    }
  }
  #home-cta
  {
    margin-bottom: $smallMargin;
    h2
    {
      margin-top: 0;
    }
  }
}

#mobile-sidebar
{
  width: 250px;
  height: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: $darkBlue;
  display: none;
  .nav
  {
    li
    {
      font-size: 20px;
      color: $white;
      text-shadow: 1px 1px 0 $darkBlue;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: -1px;
      border-bottom: 1px dotted $black;
      a
      {
        @include box-sizing(border-box);
        width: 100%;
        padding: 15px;
        color: $white;
        img
        {
          border: 1px solid $black;
          margin-right: $smallMargin;
          vertical-align: -8px;
          width: 32px;
          height: 32px;
        }
        &:hover
        {
          background-color: #222b3b;
        }
      }
    }
  }
}

#mobile-sidebar-helper
{
  position: fixed;
  display: none;
  height: 100%;
  left: 0px;
  top: 0px;
}