.item-form
{
	padding: $smallMargin;
	margin-bottom: $tinyMargin;
	.item-quantity-yes { display: none; }
	.bottom
	{
		input { margin-bottom: 0; }
	}
}

.item
{
	select
	{
		width: 50px;
		vertical-align: middle;
		margin-top: 5px;
	}
}