.fallback-message {
    font-family: Arial;
    line-height: 1.3;
    
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    font-family: Arial;
    font-size: 48px;
    line-height: 1.5;
    background: #ABABAB;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.impress_container{
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    margin-top: 300px;
}