ul.styled-vertical-list
{
    list-style-type: none;
    margin: 0;
    border-top: 1px solid $darkBlue;

    li
    {
        width: auto;
        border: 1px solid $mediumGray;
        border-top: 0;
        background-color: $lightGray;
        padding: 10px 15px;
        color: $mediumGray;

        &.highlight
        {
            background-color: $mediumBlue;
            border-color: $darkBlue;
            color: $offWhite;
            font-weight: bold;
        }

        a
        {
            color: $offBlack;

            &:hover
            {
                text-decoration: none;
                color: $mediumBlue;
            }
        }
    }
}

ul.vertical-list
{
    list-style: none;
    margin: 0;

    li {
        border-top: 1px solid $lightGray;
        padding-top: 10px;
        padding-bottom: 10px;

        a {
            color: $offBlack;
        }

        .news-timestamp {
            color: $mediumGray;
        }
    }

    .unread-news-item
    {
        background: $lightGray;
    }
}