@media (max-width: 767px)
{
    .navbar
    {
        margin-left: -20px;
        margin-right: -20px;

        .navbar-inner
        {
            #logo
            {
                margin-top: 10px;
                width: 66px;
                height: 27px;
                background-image: url(asset_path("logo_mobile.png", image));
            }
        }
    }

    .event-members
    {
        .member-list
        {
            .member
            {
                width: 100%;
            }
        }
    }

    .events-third-list
    {
        .third
        {
            width: 100%;

            .push-right
            {
                margin: 0;
            }
        }
    }

    .btn-group
    {
        button.third,button.half
        {
            width: 100%;
            float: none;
            display: block;
            margin-bottom: 2px;

            &.last
            {
                width: 100%;
            }
        }
    }

    .push-top-title
    {
        margin-top: $mediumMargin;
    }
}

@media (max-width: 1200px)
{
    .btn-group
    {
        button.third,button.half
        {
            width: 100%;
            float: none;
            display: block;
            margin-bottom: 2px;

            &.last
            {
                width: 100%;
            }
        }
    }

    .quarter, .three-quarters
    {
        width: 100% !important;
    }

    .three-quarters
    {
        padding: 5px !important;
    }
}