// Includes the navigation bar and notifications
.navbar
{
    .navbar-inner
    {
        background-color: $darkBlue;
        background-image: none;
        border-size: 0px;
        border-radius: 0px;
        border-color: $darkBlue;
        height: 50px;
        line-height: 50px;

        #logo
        {
            margin-top: -4px;
        }

        ul.nav
        {
            z-index: 1001;

            li
            {
                line-height: 30px;

                a
                {
                    text-shadow: none;
                    font-family: 'Crete Round';
                    color: $offWhite;
                    font-size: 18px;

                    &:hover
                    {
                        background-color: $mediumBlue;
                    }
                }

                i
                {
                    margin-top: 5px;
                }

                &.dropdown.open
                {
                    a, li
                    {
                        background-color: $mediumBlue;
                    }
                }
            }
        }
    }
}

ul.dropdown-menu
{
    border-radius: 0;
    border: 0;
    padding: 0;
    margin: 0;

    a
    {
        padding: 10px 20px 10px 12px;
        font-size: 16px;

        &:hover
        {
            background-color: $lightBlue !important;
            background-image: none !important;
        }
    }

    &:before, &:after
    {
        display: none !important;
    }

    &.typeahead
    {
        width: auto;

        li.active a
        {
            background-color: $mediumBlue !important;
            background-image: none !important;
            color: $offWhite;
        }
    }

    &.notifications
    {
        li
        {
            max-width: 200px;
            a
            {
                white-space: pre-wrap;
                font-size: 14px !important;
                color: $offWhite;
                line-height: 22px;
                padding: 5px 10px 5px 10px;
            }
        }
    }
}

.unread-notifications-count
{
    position: absolute;
    z-index: 1050;
    margin-top: -16px;
    margin-left: 10px;
    background-color: $mediumRed;
    border-radius: 3px;
    padding: 0 3px 1px 3px;
    line-height: 16px;
    font-size: 12px;
    color: $offWhite !important;
}