ul.styled-vertical-list
{
  list-style-type: none;
  margin: 0;
  border-top: 1px solid $darkBlue;

  li
  {
    width: auto;
    border: 1px solid $lightGray;
    border-top: 0;
    background-color: $white;
    padding: 10px 15px;
    color: $gray;
    .timestamp
    {
      color: $gray;
      font-style: italic;
    }
    &.highlight
    {
      background-color: $darkBlue;
      border-color: $darkBlue;
      color: $white;
      font-weight: bold;
    }
  }
}