// Team Page ==================================================================
.team-page
{

    .page-header
    {
        padding-bottom: $mediumMargin;
    }

    .left
    {
        padding-left: $largeMargin;
    }

    .span4, .span12
    {
        margin-left: 0px;
    }

    .name, .desc
    {
        max-width: 225px;
        text-align: left;
        line-height: 1.2;
    }

    .well
    {
        max-width: 235px;
    }

    .team-row
    {
        padding-bottom: 20px;
    }
}

// Home Page ==================================================================
#temp-box
{
    background-color: $lightGray;
    width: 500px;
    height: 300px;
}

#home-page-desc
{
    padding-bottom: 10px;
}

.home-page
{
    h3, .btn
    {
        font-family: Helvetica;
    }

    #span
    {
        margin-left: 0;
        padding-top: 10px;
        margin-bottom: 20px;
    }
}

#home-page-logo
{
    width: 600px;
    margin-bottom: 20px;
}