// Team Page ==================================================================
.team-page
{

    .page-header
    {
        padding-bottom: $mediumMargin;
    }

    .left
    {
        padding-left: $largeMargin;
    }

    .span4, .span12
    {
        margin-left: 0px;
    }

    .name, .desc
    {
        max-width: 225px;
        text-align: left;
        line-height: 1.2;
    }

    .well
    {
        max-width: 235px;
    }

    .team-row
    {
        padding-bottom: 20px;
    }
}

// Home Page ==================================================================
.temp-box
{
    background-color: $lightGray;
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}

.home-page-desc
{
    text-align: center;
    padding-bottom: 10px;
}

.home-page-sign-up
{
    text-align: center;
    margin: 0 auto;

    .span1
    {
        float: none;
        margin: 0 auto;
    }

    .btn
    {
        text-align: center;
    }
}

.home-page-span
{
    float: none;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;

    .span1
    {
        float: none;
        text-align: center;
    }
}