// Place all the styles related to the Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.payment-block
{
	float: left;
	margin: 0 5px;

	&.first
	{
		margin: 0;
	}

	&.text
	{
		margin-top: 5px;

		&.tall
		{
			margin-top: 12px;
		}
	}
}