.user-online, .user-offline {
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 1px;
  width: 8px;
  height: 8px;
  background-color: $green;

  &.block
  {
    border-radius: 5px;
    padding: 2px 5px;
    width: auto;
    height: auto;
    color: $white;
    font-weight: bold;
  }

  &.user-offline
  {
    background-color: $red;
  }
}

#user-right
{
  .half
  {
    width: 50%;
    float: left;
    .well
    {
      margin-right: $tinyMargin;
    }
  }
}

.invite-to-event-button
{
  position: relative;
  .events-to-invite
  {
    position: absolute;
    width: 100%;
  }
}

#stub-login-modal
{
  width: 700px;
  height: 650px;

  .modal-body
  {
    max-height: 475px;
    overflow: hidden;
  }
}

.profile_image_thumb
{
  max-width: 32px;
  max-height: 32px;
}

.profile_image_large
{
  max-width: 210px;
  max-height: 210px;
}

.dashboard-user
{
  .profile_image
  {
    float: left;
    margin-right: $tinyMargin;
    border: 1px solid $lightGray;
  }
  .user
  {
    margin-top: -3px;
  }
}

@media (max-width: 767px)
{
  #stub-login-modal
  {
    width: 96%;
    height: 96%;
    position: absolute;
    left: 2%;
    right: 2%;

    .modal-body
    {
      max-height: none;
    }
  }
}