// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Global
.user_profile_image_option
{
	display: none;
}

// User online display
.user-online {
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 1px;
    width: 8px;
    height: 8px;
    background-color: $mediumGreen;
}

.user-online-block, .user-offline-block
{
	background-color: $mediumGreen;
	display: inline-block;
	border-radius: 5px;
	padding: 2px 5px;
	color: $offWhite;
	font-weight: bold;
}

.user-offline-block
{
	background-color: $mediumRed;
}

// User profile page
.invite-to-event-button
{
    position: relative;
}

.events-to-invite
{
    position: absolute;
    width: 100%; // make it responsive
    margin: 0; // so that it fits in the span perfectly
    list-style: none;

    // matching the same style as the dropdown in the navbar
    li
    {
        padding: 2px 0 2px 10px;
        line-height: 30px;
        background-color: $mediumBlue;
        color: $offWhite;
        text-align: left;
        font-size: 18px;

        a
        {
            color: $offWhite;
            text-shadow: none;
            font-family: 'Crete Round';
        }

        &:hover
        {
            background-color: $lightBlue;
        }
    }
}