// Variables 
$eventBorder: #D8D8D8;
$darkBlue: #32454b;
$mediumBlue: #52636b;
$lightBlue: #6f8594;
$lightGray: #ececec;
$mediumGray: #a4a4a4;
$offWhite: #f9f9f9;
$offBlack: #292929;
$mediumGreen: #51A351;
$mediumRed: #BD362F;

$mediumMargin: 10px;
$largeMargin: $mediumMargin * 2.5;

$headerFont: 'Crete Round';