.wizard
{
	margin-bottom: $smallMargin;
	.wizard-step
	{
		background-color: $lighterGray;
		padding: $smallMargin;
		color: $gray;
		cursor: pointer;
		&:last-child { border-bottom: 0; }
		&.active
		{
			font-weight: bold;
			color: $white;
			background-color: $darkBlue;
		}
		i
		{
			float: right;
			color: $gray;
		}
	}
	.wizard-card
	{
		background-color: $lighterGray;
		display: none;
		.wizard-card-title
		{
			border: 1px solid $black;
			border-width: 0px 1px 1px 1px;
			font-weight: bold;
			background-color: $darkBlue;
			padding: $smallMargin;
			h3
			{
				color: $white;
				margin: 0;
				padding: 0;
			}
		}
		.wizard-card-body
		{
			border: 1px solid $lightGray;
			border-width: 0px 1px 1px 1px;
			padding: $smallMargin;
		}
	}
}