<% provide(:title, "All Payments") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>All Payments</h2>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
      	<tr>
      		<th>Event</th>
      		<th>From</th>
      		<th>Last Updated</th>
      		<th>Amount</th>
      		<th>Status</th>
      	</tr>
      	<%= render @payments %>

      	<% if @payments.empty? %>
      		<tr>
      			<td colspan="4">You have no recent payments.</td>
      		</tr>
      	<% end %>
      </table>

      <%= will_paginate @payments %>
    </div>
  </div>
</div>