<% provide(:title, "Recent Transactions") %>

<% content_for(:wrapper_top) do %>
  <div class="container">
    <div class="page-header">
      <h2>Recent Transactions</h2>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      
    </div>
  </div>
</div>