<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
      #pwm-background
      {
        width: 100%;
        background-color: #EEE;
      }

      #pwm-container
      {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      #pwm-body
      {
        width: 650px;
        border: 1px solid #CCC;
        background-color: #FFF;
      }

      #pwm-body td
      {
        padding: 20px 20px 0 20px;
      }

      p
      {
        margin: 0 0 20px 0;
      }

      #pwm-footer
      {
        color: #555;
        padding-bottom: 20px !important;
        padding-top: 0 !important;
      }
    </style>
  </head>
  <body>
    <table width="100%" id="pwm-background" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="top" id="pwm-container">
          <table width="650" id="pwm-body" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td id="logo">
                <%= link_to image_tag(asset_url("logo.png"), alt: "Pay With Me"), root_url %>
              </td>
              <td></td>
            </tr>
            <%= yield %>
            <tr>
              <td colspan="2" id="pwm-footer">
                <strong>Hit us up!</strong><br />
                1226A Pittsburgh Building<br />
                Rensselaer Polytechnic Institute<br />
                Troy, New York 12180<br />
                (518) 276-2393
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>